Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver pipen/version.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

flake8:
  name: Run flake8
  entry: flake8
  language: system
  args:
  - pipen
  pass_filenames: false

🔖 0.12.4 (#186)
  docs/CHANGELOG.md
  pipen/utils.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

deps: bump xqute to 0.2.5
  poetry.lock
  pyproject.toml
Due: versionchecker

chore: make utils._excepthook only handle KeyboardInterrupt
  pipen/utils.py
Due: pytest, flake8

chore: update examples
  examples/input_data_callback.py
  examples/mako-templating.py
  examples/multijobs.py
  examples/plugin-example.py
  examples/python-script.py
  examples/retry.py
Due: none

0.12.5
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

deps: bump xqute to 0.3.0 and liquidpy to 0.8.2
  poetry.lock
  pyproject.toml
Due: versionchecker

break: change hook on_job_running to on_job_started and add on_job_polling
  docs/plugin.md
  pipen/pluginmgr.py
Due: pytest, flake8

0.13.0
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.13.0
  docs/CHANGELOG.md
  examples/plugin-example.py
  poetry.lock
  pyproject.toml
Due: versionchecker

test: cover `on_job_polling`
  tests/helpers.py
Due: none

fix: update envs recursively for subclasses
  pipen/utils.py
  tests/test_proc.py
  tests/test_utils.py
Due: pytest, flake8

test: make sure class envs kept intact when subclassed
  tests/test_proc.py
Due: none

0.13.1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

style: change max line length to 88
  pyproject.toml
  tox.ini
Due: versionchecker

feat: add `envs_depth` to procs to control the depth of envs to be inherited by subclasses
  pipen/proc.py
  pipen/utils.py
  tests/test_proc.py
  tests/test_utils.py
Due: pytest, flake8

0.13.2
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: fix error when force-caching fails
  pipen/_job_caching.py
Due: pytest, flake8

deps: bump varname to 0.13
  pipen/_job_caching.py
  pipen/proc.py
  poetry.lock
  pyproject.toml
  tests/test_proc.py
Due: versionchecker, pytest, flake8

0.13.3
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

deps: drop support for python3.8 (0.13.3)
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
Due: versionchecker

docs: update readme for more plugins
  README.md
Due: none

0.14.0
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: add flags to utils.is_loading_pipeline to check arguments in sys.argv
  pipen/utils.py
  tests/helpers.py
  tests/test_job.py
  tests/test_utils.py
Due: pytest, flake8

test: update pytest configuration for parallel test execution
  pyproject.toml
Due: versionchecker

test: distribute tests in different processes to avoid conflicts
  poetry.lock
  pyproject.toml
  tests/test_utils.py
  tests/test_xqute_pars.py
Due: versionchecker

0.14.1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: allow passing arguments to `utils.is_loading_pipeline()`
  pipen/utils.py
Due: pytest, flake8

0.14.2
  README.md
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

choir: rename argument `args` to `argv` for `utils.is_loading_pipeline()`
  pipen/utils.py
Due: pytest, flake8

0.14.3
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

deps: bump xqute to 0.4 (simplug to 0.4.1)
  poetry.lock
  pyproject.toml
Due: versionchecker

refactor: refactor pipen.plugin_context due to simplug upgrade
  pipen/pipen.py
  pipen/utils.py
Due: pytest, flake8

docs: update docs for specifiying plugins due to simplug upgrade
  docs/plugin.md
Due: none

examples: update examples for specifiying plugins due to simplug upgrade
  examples/mako-templating.py
Due: none

tests: add tests for plugins specification
  tests/test_plugin.py
  tests/test_utils.py
Due: none

tests: use pytest v8
  poetry.lock
  pyproject.toml
Due: versionchecker

ci: use latest actions
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

0.14.4
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: fix all plugins being disabled by default
  pipen/pipen.py
Due: pytest, flake8

0.14.5
  README.md
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

Path conditions:
  versionchecker: any of: ^pyproject\.toml|pipen/version\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  pytest: any of: ^tests/.+$|^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  flake8: any of: ^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
