Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver pipen/version.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

flake8:
  name: Run flake8
  entry: flake8
  language: system
  args:
  - pipen
  pass_filenames: false

📝 Add pipen-cli-config to plugin gallery
  README.md
Due: none

🔖 0.7.1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.7.1 (#157)
  README.md
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

✨ Add utils.mark and get_marked to mark a process
  pipen/utils.py
  tests/test_utils.py
Due: pytest, flake8

🔖 0.7.2
  pipen/version.py
  pyproject.toml
  tests/test_utils.py
Due: versionchecker, pytest, flake8

0.7.2 (#158)
  pipen/utils.py
  pipen/version.py
  pyproject.toml
  tests/test_utils.py
Due: versionchecker, pytest, flake8

✨ Add `--list` for `pipen profile` to list the names of available profiles
  pipen/cli/profile.py
  tests/test_cli.py
Due: pytest, flake8

✨ Add exception hook to show uncaught in log
  pipen/utils.py
  poetry.lock
Due: pytest, flake8

✨ Add `on_job_cached` hook
  pipen/pluginmgr.py
  pipen/proc.py
Due: pytest, flake8

🔖 0.7.3
  docs/CHANGELOG.md
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

0.7.3 (#159)
  docs/CHANGELOG.md
  pipen/cli/profile.py
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/test_cli.py
Due: versionchecker, pytest, flake8

🎨 Don't slugify pipen or proc names anymore but require them to be valid filenames
  pipen/cli/version.py
  pipen/exceptions.py
  pipen/pipen.py
  pipen/proc.py
  pipen/utils.py
  poetry.lock
  pyproject.toml
  tests/test_pipen.py
  tests/test_proc.py
Due: versionchecker, pytest, flake8

🐛 Fix process names being reused
  pipen/pipen.py
  tests/test_pipen.py
Due: pytest, flake8

📝 Update documentation with new job caching callback.
  docs/plugin.md
Due: none

🎨 Move actions to on_job_cached hook for cached jobs
  pipen/pluginmgr.py
  pipen/proc.py
Due: pytest, flake8

⬆️ Drop support for python3.7
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.8.0
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.8.0 (#160)
  .github/workflows/build.yml
  docs/CHANGELOG.md
  docs/plugin.md
  pipen/cli/version.py
  pipen/exceptions.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/test_pipen.py
  tests/test_proc.py
Due: versionchecker, pytest, flake8

⬆️ Bump xqute to 0.2 so we have slurm and ssh schedulers available 🎨 Improve code for dropping python 3.7
  pipen/cli/version.py
  pipen/defaults.py
  pipen/job.py
  pipen/pipen.py
  pipen/proc.py
  pipen/procgroup.py
  pipen/utils.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

👷 Use 3.10 as main python version in CI
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

✨ Add ssh and slurm scheduers
  pipen/scheduler.py
  pipen/utils.py
  tests/test_scheduler.py
Due: pytest, flake8

📝 Update docs for slurm and ssh schedulers
  docs/scheduler.md
Due: none

📝 Update documentation dependencies in requirements.txt
  docs/requirements.txt
Due: none

🔖 0.9.0
  README.md
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.9.0 (#161)
  .github/workflows/build.yml
  .github/workflows/docs.yml
  README.md
  docs/CHANGELOG.md
  docs/requirements.txt
  docs/scheduler.md
  pipen/cli/version.py
  pipen/defaults.py
  pipen/job.py
  pipen/pipen.py
  pipen/proc.py
  pipen/procgroup.py
  pipen/scheduler.py
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/test_scheduler.py
Due: versionchecker, pytest, flake8

⬆️ Bump xqute to 0.2.1
  pipen/defaults.py
  pipen/proc.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

🔖 0.9.1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.9.1 (#162)
  docs/CHANGELOG.md
  pipen/defaults.py
  pipen/proc.py
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

🎨 Rename to main plugin to core
  pipen/defaults.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/progressbar.py
  tests/test_utils.py
Due: pytest, flake8

🎨 Reformat log of pipeline info so that paths won't be truncated
  pipen/pipen.py
  tests/test_pipen.py
Due: pytest, flake8

🔖 0.9.2
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.9.2 (#163)
  docs/CHANGELOG.md
  pipen/defaults.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/progressbar.py
  pipen/version.py
  pyproject.toml
  tests/test_pipen.py
  tests/test_utils.py
Due: versionchecker, pytest, flake8

🐛 Set logging.lastResort to null handler
  pipen/utils.py
Due: pytest, flake8

✨ Allow to assign process directly to proc groups
  pipen/procgroup.py
  tests/test_procgroup.py
Due: pytest, flake8

🔧 Change progress bar description length to 24
  pipen/progressbar.py
Due: pytest, flake8

🔖 0.9.3
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

0.9.3 (#164)
  docs/CHANGELOG.md
  pipen/procgroup.py
  pipen/progressbar.py
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/test_procgroup.py
Due: versionchecker, pytest, flake8

🐛 Use class name as pipeline name
  pipen/pipen.py
  tests/test_pipen.py
Due: pytest, flake8

🔖 0.9.4
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.9.4 (#165)
  docs/CHANGELOG.md
  pipen/pipen.py
  pipen/version.py
  pyproject.toml
  tests/test_pipen.py
Due: versionchecker, pytest, flake8

Path conditions:
  versionchecker: any of: ^pyproject\.toml|pipen/version\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  pytest: any of: ^tests/.+$|^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  flake8: any of: ^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
