Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/|^docs/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen/version.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen/version\.py$
    -   id: mypy
        name: Run mypy type check
        entry: mypy
        language: system
        args: ["-p", "pipen"]
        pass_filenames: false
        always_run: true
        files: ^/pipen/.+$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^pipen/.+$
    -   id: flake8
        name: Run flake8
        entry: flake8
        language: system
        args: [pipen]
        pass_filenames: false
        files: ^pipen/.+$

0.17.19
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: remove unnecessary self argument for the plugin for xqute and the main plugin for pipen itself
  pipen/pluginmgr.py
  poetry.lock
Due: pytest, flake8

0.17.20
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: update fake symlink prefix to 'pipen-symlink'
  pipen/utils.py
Due: pytest, flake8

chore: update xqute version to 0.10.16
  poetry.lock
  pyproject.toml
Due: versionchecker

0.17.21
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: upgrade dependencies and bump datar to 0.15.12
  poetry.lock
Due: none

BREAKING: change on_setup hook parameter from config to pipen
  docs/plugin.md
  examples/plugin-example.py
  pipen/pipen.py
  pipen/pluginmgr.py
Due: pytest, flake8

chore: update README with new plugins
  README.md
Due: none

chore: remove unused imports from plugin manager
  pipen/pluginmgr.py
Due: pytest, flake8

ci: add python 3.13 in build workflow
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

0.17.22
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: update class reference for setup state to make sure on_setup hook only executes once
  pipen/pipen.py
Due: pytest, flake8

0.17.23
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: improve error message for missing output generation
  pipen/pluginmgr.py
Due: pytest, flake8

0.17.24
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

docs: add tip about cloud communication and caching in pipen
  docs/cloud.md
Due: none

fix: ensure directory creation does not fail if rmtree encounters an error
  pipen/_job_caching.py
Due: pytest, flake8

chore: update dependencies
  poetry.lock
Due: none

fix: enhance symlink check by validating file size before download
  pipen/utils.py
Due: pytest, flake8

fix: update build system requirements to use poetry-core
  pyproject.toml
Due: versionchecker

fix: update caching logic to handle missing signature files more gracefully
  pipen/_job_caching.py
  tests/test_job.py
Due: pytest, flake8

chore: update varname package version to 0.15.1 and adjust file hashes
  poetry.lock
Due: none

chore: update xqute dependency version to 0.10.19 to use per-scheduler submission_batch by default
  pipen/defaults.py
  pipen/job.py
  pipen/proc.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

test: add DirOutputEmptyProc to handle empty directory output and corresponding test
  pipen/pluginmgr.py
  tests/helpers.py
  tests/test_proc.py
Due: pytest, flake8

chore: update content hash in poetry.lock
  poetry.lock
Due: none

0.17.25
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: fix progress bar for jobs with submission skipped
  pipen/pluginmgr.py
  pipen/progressbar.py
Due: pytest, flake8

0.17.26
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: sort input list in brief_list function for consistent output
  pipen/utils.py
Due: pytest, flake8

0.17.27
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: fix job progress bar not showing when jobs are being prepared
  pipen/pluginmgr.py
  pipen/proc.py
Due: pytest, flake8

0.17.28
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: add job submission progress update to progress bar
  pipen/pluginmgr.py
  pipen/progressbar.py
Due: pytest, flake8
