Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: create_setuppy, pytest

create_setuppy:
  name: Create setup.py from pyproject.toml
  language: system
  pass_filenames: false
  entry: bash -c
  args:
  - curl -fsSL https://raw.githubusercontent.com/sdss/flicamera/main/create_setup.py | python

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Clear output if not cached.
  pipen/_job_caching.py
  tests/test_job_caching.py
Due: pytest

Fix process running order
  pipen/pipen.py
Due: pytest

0.0.4: Fix liqiuidpy version to 0.6.*
  docs/CHANGELOG.md
  docs/requirements.txt
  pipen/__init__.py
  pyproject.toml
  setup.py
Due: create_setuppy, pytest

0.0.4 (#104)
  docs/CHANGELOG.md
  docs/requirements.txt
  pipen/__init__.py
  pipen/_job_caching.py
  pipen/pipen.py
  pyproject.toml
  setup.py
  tests/test_job_caching.py
Due: create_setuppy, pytest

Adopt liquidpy 0.7
  .pylintrc
  pipen/_proc_properties.py
  pipen/template.py
  tests/test_template.py
Due: pytest

Remove pylint
  pipen/_job_caching.py
  pipen/_proc_properties.py
  pipen/channel.py
  pipen/defaults.py
  pipen/job.py
  pipen/plugin.py
  pipen/proc.py
  pipen/template.py
  pipen/utils.py
Due: pytest

Apply isort
  .github/workflows/build.yml
  .pre-commit-config.yaml
  .pylintrc
  pipen/__init__.py
  pipen/_job_caching.py
  pipen/_proc_properties.py
  pipen/channel.py
  pipen/cli.py
  pipen/defaults.py
  pipen/exceptions.py
  pipen/job.py
  pipen/pipen.py
  pipen/plugin.py
  pipen/proc.py
  pipen/progressbar.py
  pipen/scheduler.py
  pipen/template.py
  pipen/utils.py
  pyproject.toml
  setup.py
Due: create_setuppy, pytest

Make class as process preferrable
  .gitignore
  README.md
  example/example.py
  pipen/__init__.py
  pipen/_job_caching.py
  pipen/_proc_properties.py
  pipen/channel.py
  pipen/defaults.py
  pipen/job.py
  pipen/pipen.py
  pipen/plugin.py
  pipen/proc.py
  pipen/progressbar.py
  pipen/scheduler.py
  pipen/template.py
  pipen/utils.py
  pyproject.toml
  tests/__init__.py
  tests/helpers.py
  tests/test_channel.py
  tests/test_job.py
  tests/test_job_caching.py
  tests/test_pipen.py
  tests/test_proc.py
  tests/test_scheduler.py
  tests/test_template.py
  tests/test_utils.py
  tests/test_xqute_pars.py
  tox.ini
Due: create_setuppy, pytest

Update pyproject.toml
  pyproject.toml
Due: create_setuppy

Finish new tests
  .pre-commit-config.yaml
  example/example.py
  pipen/__init__.py
  pipen/_job_caching.py
  pipen/channel.py
  pipen/defaults.py
  pipen/job.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/progressbar.py
  pipen/utils.py
  pyproject.toml
  tests/helpers.py
  tests/test_job.py
  tests/test_pipen.py
  tests/test_plugin.py
  tests/test_proc.py
  tests/test_utils.py
  tests/test_xqute_pars.py
Due: create_setuppy, pytest

Add cli
  pipen/__init__.py
  pipen/cli.py
  pipen/cli/__init__.py
  pipen/cli/_hooks.py
  pipen/cli/_main.py
  pipen/cli/profile.py
  pipen/defaults.py
  pipen/utils.py
  pipen/version.py
  pyproject.toml
  tests/test_cli.py
Due: create_setuppy, pytest

Fix mypy check
  .pre-commit-config.yaml
  pipen/cli/profile.py
Due: pytest

Start adding docs
  docs/basics.md
  docs/defining-proc.md
  docs/layers.png
  mkdocs.yml
Due: none

Add docs
  .github/workflows/docs.yml
  docs/caching.md
  docs/channel-collapse_files.png
  docs/channel-expand_dir.png
  docs/channels.md
  docs/cli.md
  docs/configurations.md
  docs/defining-proc.md
  docs/error.md
  docs/input-output.md
  docs/plugin.md
  docs/scheduler.md
  docs/script.md
  docs/templating.md
  pipen/_job_caching.py
  pipen/channel.py
  pipen/pluginmgr.py
  pipen/proc.py
  pyproject.toml
Due: create_setuppy, pytest

Move plugin loading to runtime to avoid cyclic imports
  .github/workflows/build.yml
  mkdocs.yml
  pipen/pipen.py
  pipen/pluginmgr.py
Due: pytest

Add cli.plugins
  .coveragerc
  docs/configurations.md
  docs/starting.md
  mkdocs.yml
  pipen/cli/plugins.py
Due: pytest

Fix a proc naming issue
  docs/cli.md
  docs/configurations.md
  docs/plugin.md
  docs/running.md
  mkdocs.yml
  pipen/job.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/utils.py
Due: pytest

Update README
  README.md
  mkdocs.yml
  pipen.png
Due: none

Add badges to README
  README.md
Due: none

Add examples
  .github/workflows/docs.yml
  README.md
  docs/templating.md
  example/example.png
  example/example.py
  examples/mako-templating.py
  examples/multijobs.py
  examples/python-script.py
  examples/retry.py
  pipen/job.py
Due: pytest

Added examples
  README.md
  docs/examples.md
  examples/caching.py
  examples/input_data_callback.py
  examples/plugin-example.py
  examples/python-script.py
  pipen/__init__.py
Due: pytest

Update README
  README.md
Due: none

Fix docs building
  .github/workflows/docs.yml
Due: none

Update CHANGELOG
  docs/CHANGELOG.md
Due: none

Update docs
  docs/plugin.md
Due: none

Allow plugins to modify other configs via on_setup() hook
  docs/plugin.md
  examples/plugin-example.py
  pipen/pipen.py
  pipen/pluginmgr.py
Due: pytest

🎨 Move progress bar to the last
  pipen/pipen.py
  pipen/pluginmgr.py
Due: pytest

🩹 Warn when no input_data specified for start process
  README.md
  pipen/pipen.py
  pipen/proc.py
  tests/__init__.py
Due: pytest

💬 Change end to export
  docs/defining-proc.md
  pipen/job.py
  pipen/proc.py
Due: pytest

🚚 Move on_init() so it's able to redefine default configs
  docs/plugin.md
  pipen/pipen.py
  pipen/pluginmgr.py
Due: pytest

💥 Change `exec_cmd` hook of cli plugin to `exec_command`
  docs/cli.md
  docs/scheduler.md
  docs/templating.md
  pipen/cli/_hooks.py
  pipen/cli/_main.py
  pipen/cli/plugins.py
  pipen/cli/profile.py
  pipen/defaults.py
Due: pytest

🔖 0.1.1
  .editorconfig
  .tagitrc
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: create_setuppy, pytest

🚨 Use flake8
  .github/workflows/build.yml
  .pre-commit-config.yaml
  pipen/_job_caching.py
  pipen/cli/_hooks.py
  pipen/cli/_main.py
  pipen/cli/plugins.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/template.py
  pyproject.toml
  tox.ini
Due: create_setuppy, pytest

0.1.1 (#105)
  .editorconfig
  .github/workflows/build.yml
  .pre-commit-config.yaml
  .tagitrc
  README.md
  docs/CHANGELOG.md
  docs/cli.md
  docs/defining-proc.md
  docs/plugin.md
  docs/scheduler.md
  docs/templating.md
  examples/plugin-example.py
  pipen/_job_caching.py
  pipen/cli/_hooks.py
  pipen/cli/_main.py
  pipen/cli/plugins.py
  pipen/cli/profile.py
  pipen/defaults.py
  pipen/job.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/template.py
  pipen/version.py
  pyproject.toml
  tests/__init__.py
  tox.ini
Due: create_setuppy, pytest

💥 Use set_starts() and set_data
  pipen/exceptions.py
  pipen/pipen.py
  tests/test_job.py
  tests/test_pipen.py
  tests/test_plugin.py
  tests/test_proc.py
  tests/test_xqute_pars.py
Due: pytest

📝 Update docs
  docs/defining-proc.md
  docs/running.md
Due: none

🔖0.1.2
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: create_setuppy, pytest

📝 Fix docs
  docs/channels.md
  docs/configurations.md
  docs/input-output.md
  docs/running.md
Due: none

0.1.2 (#106)
  docs/CHANGELOG.md
  docs/channels.md
  docs/configurations.md
  docs/defining-proc.md
  docs/input-output.md
  docs/running.md
  pipen/exceptions.py
  pipen/pipen.py
  pipen/version.py
  pyproject.toml
  tests/test_job.py
  tests/test_pipen.py
  tests/test_plugin.py
  tests/test_proc.py
  tests/test_xqute_pars.py
Due: create_setuppy, pytest

Path conditions:
  create_setuppy: any of: pyproject.toml, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  pytest: any of: ^tests/.+$|^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
