Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver pipen/version.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

flake8:
  name: Run flake8
  entry: flake8
  language: system
  args:
  - pipen
  pass_filenames: false

fix: fix error handling in ProcPBar class
  pipen/progressbar.py
Due: pytest, flake8

deps: bump up dev deps
  poetry.lock
Due: none

0.14.6
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

deps: bump up dev deps
  poetry.lock
  pyproject.toml
Due: versionchecker

refactor: remove abstractproperty decorator from CLIPlugin class
  pipen/cli/_hooks.py
Due: pytest, flake8

feat: Add ioplugin to pipen to support handle files from other platforms (e.g. the cloud)
  pipen/__init__.py
  pipen/_job_caching.py
  pipen/exceptions.py
  pipen/job.py
  pipen/pluginmgr.py
  pipen/utils.py
  tests/test_plugin.py
Due: pytest, flake8

style: fix style issues
  pipen/_job_caching.py
  pipen/job.py
Due: pytest, flake8

test: add pipen parameter to test_ioplugin function
  tests/test_plugin.py
Due: none

ci: add python3.12 to CI
  .github/workflows/build.yml
Due: none

chore: rename io plugin group name from pipen.io to pipen_io
  pipen/pluginmgr.py
Due: pytest, flake8

test: fork each test in test_job.py
  tests/test_job.py
Due: none

test: fork tests in test_pipen.py and test_proc.py
  tests/test_pipen.py
  tests/test_proc.py
Due: none

docs: correct the documentation about `dirsig`
  docs/caching.md
  docs/defining-proc.md
  docs/input-output.md
Due: none

docs: add docs for io plugins
  docs/cli.md
  docs/plugin.md
Due: none

0.15.0rc1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

test: try fixing "previous item was not torn down properly" (pytest-dev/pytest-forked#67)
  tests/test_proc.py
Due: none

refactor: merge pipen_io to pipen as plugin entrypoint group name
  docs/CHANGELOG.md
  docs/plugin.md
  pipen/__init__.py
  pipen/_job_caching.py
  pipen/job.py
  pipen/pluginmgr.py
  poetry.lock
  tests/helpers.py
  tests/test_plugin.py
Due: pytest, flake8

BREAKING: remove redundant argument `proc` for job plugin APIs
  docs/plugin.md
  examples/plugin-example.py
  pipen/pluginmgr.py
  pipen/proc.py
  tests/helpers.py
Due: pytest, flake8

docs: update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

0.15.0rc2
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

style: add blank line in pluginmgr.py
  pipen/pluginmgr.py
Due: pytest, flake8

deps: bump xqute to version 0.4.1
  poetry.lock
  pyproject.toml
Due: versionchecker

enh: make better error message when set wrong type of starts for a pipeline
  pipen/pipen.py
  tests/test_pipen.py
Due: pytest, flake8

docs: fix norm_outpath parameters in plugin.md
  docs/plugin.md
Due: none

docs: add pipen-gcs in plugin gallery
  README.md
  docs/plugin.md
Due: none

docs: update CHANGLOG.md
  docs/CHANGELOG.md
Due: none

0.15.0rc3
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.15.0
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

deps: bump xqute dependency to version 0.5.0
  poetry.lock
  pyproject.toml
Due: versionchecker

0.15.1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

deps: update xqute dependency to version 0.5.1
  poetry.lock
  pyproject.toml
Due: versionchecker

chore: update pytest options in pyproject.toml to ignore deadlock warnings
  pyproject.toml
Due: versionchecker

feat: expose on_jobcmd_* hooks for plugins to modify the job wrapper script
  docs/plugin.md
  pipen/pluginmgr.py
  tests/test_plugin.py
Due: pytest, flake8

0.15.2
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: add `pipen.run()` as a function to run a pipeline
  README.md
  docs/running.md
  pipen/__init__.py
  pipen/pipen.py
  tests/test_pipen.py
Due: pytest, flake8

docs: fix the decorations in the logs in README
  README.md
Due: none

0.15.3
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

Path conditions:
  versionchecker: any of: ^pyproject\.toml|pipen/version\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  pytest: any of: ^tests/.+$|^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  flake8: any of: ^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
