Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver pipen/version.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

flake8:
  name: Run flake8
  entry: flake8
  language: system
  args:
  - pipen
  pass_filenames: false

BREAKING: change on_proc_input_computed and on_proc_script_computed to async
  docs/plugin.md
  pipen/pluginmgr.py
  pipen/proc.py
Due: pytest, flake8

1.1.0rc3
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: bump xqute to 2.0.3
  poetry.lock
Due: none

chore: add pipen-verbose dependency to example group
  poetry.lock
  pyproject.toml
Due: versionchecker

chore: update multijob example for increased parallelism and debugging
  examples/multijobs.py
Due: none

1.1.0
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: bump python-simpleconf to 0.8
  poetry.lock
  pyproject.toml
Due: versionchecker

chore: update ProfileConfig loading to async method
  pipen/pipen.py
Due: pytest, flake8

1.1.1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: implement AsyncCLIPlugin for asynchronous command execution
  pipen/cli/__init__.py
  pipen/cli/_hooks.py
  pipen/cli/_main.py
  pipen/cli/profile.py
  poetry.lock
Due: pytest, flake8

1.1.2
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

docs: update CLI plugin documentation to include AsyncCLIPlugin
  docs/cli.md
Due: none

fix: use proc.size instead of len(jobs) to detect the size of procs to accruately detect it due to async operations
  pipen/job.py
Due: pytest, flake8

1.1.3
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: sort jobs by index before storing output data in DataFrame
  pipen/proc.py
Due: pytest, flake8

1.1.4
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: allow passing 'self' to input_data callback in Proc class
  docs/input-output.md
  pipen/proc.py
  tests/test_proc.py
Due: pytest, flake8

1.1.5
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: deprecate input_data taking self argument (yank v1.1.5)
  docs/input-output.md
  pipen/proc.py
  tests/test_proc.py
Due: pytest, flake8

1.1.6
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: handle potential rate limit errors when creating output directories
  pipen/job.py
Due: pytest, flake8

style: add type ignore comments for output computation and input data handling
  pipen/proc.py
Due: pytest, flake8

1.1.7
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: bump up xqute to 2.0.6
  poetry.lock
Due: none

feat: include script_file in Job template_data
  pipen/job.py
Due: pytest, flake8

chore: update version to 1.1.8 and plugin to v1.1.1 in README
  README.md
Due: none

docs: add development guidelines for agentic coding agents
  AGENTS.md
Due: none

docs: add contributing guidelines and development workflow
  CONTRIBUTING.md
Due: none

docs: enhance README with detailed features, target audience, and comparison table
  README.md
Due: none

docs: enhance documentation and examples
  .github/workflows/docs.yml
  .gitignore
  docs/architecture.md
  docs/basics.md
  docs/channels.md
  docs/cloud.md
  docs/glossary.md
  docs/running.md
  docs/troubleshooting.md
  docs/tutorials/beginner.md
  examples/caching.py
  examples/example.py
  mkdocs.yml
Due: none

1.1.8
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

deps: update python-simpleconf to version 0.9
  poetry.lock
  pyproject.toml
Due: versionchecker

1.1.9
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: ensure Proc class name is set correctly when parent name matches
  pipen/proc.py
Due: pytest, flake8

chore: update dependencies
  poetry.lock
Due: none

1.1.10
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

feat(proc): add output_flatten option to control job output directory structure
  pipen/job.py
  pipen/proc.py
  tests/helpers.py
  tests/test_job.py
  tests/test_proc.py
Due: pytest, flake8

chore: bump diot to 0.3.3 and simpleconf to 0.9.2
  poetry.lock
Due: none

Path conditions:
  versionchecker: any of: ^pyproject\.toml|pipen/version\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  pytest: any of: ^tests/.+$|^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  flake8: any of: ^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
