Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/|^docs/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen/version.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen/version\.py$
    -   id: mypy
        name: Run mypy type check
        entry: mypy
        language: system
        args: ["-p", "pipen"]
        pass_filenames: false
        always_run: true
        files: ^/pipen/.+$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^pipen/.+$
    -   id: flake8
        name: Run flake8
        entry: flake8
        language: system
        args: [pipen]
        pass_filenames: false
        files: ^pipen/.+$

0.3.9 (#137)
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

⬆️ Upgrade datar to 0.11 and format test files
  pipen/proc.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/helpers.py
  tests/test_channel.py
  tests/test_cli.py
  tests/test_job.py
  tests/test_pipen.py
  tests/test_plugin.py
  tests/test_proc.py
  tests/test_scheduler.py
  tests/test_template.py
  tests/test_utils.py
  tests/test_xqute_pars.py
Due: versionchecker, pytest, flake8

✨ Add cli command version to show versions of deps
  pipen/cli/version.py
  tests/test_cli.py
Due: pytest, flake8

➖ Remove rich as it is required by xqute already
  pipen/cli/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

📝 Update docs for cli command `version`
  docs/cli.md
Due: none

🔖 0.3.10
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.3.10 (#138)
  docs/CHANGELOG.md
  docs/cli.md
  pipen/cli/version.py
  pipen/proc.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/helpers.py
  tests/test_channel.py
  tests/test_cli.py
  tests/test_job.py
  tests/test_pipen.py
  tests/test_plugin.py
  tests/test_proc.py
  tests/test_scheduler.py
  tests/test_template.py
  tests/test_utils.py
  tests/test_xqute_pars.py
Due: versionchecker, pytest, flake8

📝 Fix github workflow badges in README
  README.md
Due: none

🩹 Fix pandas warning when less-column data passed to channel
  pipen/proc.py
Due: pytest, flake8

🔖 0.3.11
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.3.11 (#139)
  docs/CHANGELOG.md
  pipen/proc.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

⬆️ Upgrade python-slugify to ^7
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.3.12
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.3.12 (#140)
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

⬆️ Upgrade python-slugify to ^0.8
  poetry.lock
  pyproject.toml
Due: versionchecker

💥 Use argx instead of pyparam
  .coveragerc
  pipen/cli/_hooks.py
  pipen/cli/_main.py
  pipen/cli/help.py
  pipen/cli/plugins.py
  pipen/cli/profile.py
  pipen/cli/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

✅ Fix tests
  pipen/__main__.py
  pipen/cli/_main.py
  pipen/cli/help.py
  tests/test_cli.py
Due: pytest, flake8

🔖 0.4.0
  README.md
  docs/CHANGELOG.md
  pipen.png
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

👷 Add python3.11 to CI
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

👷 Remove python3.11 from CI
  .github/workflows/build.yml
Due: none

0.4.0 (#141)
  .coveragerc
  .github/workflows/build.yml
  .github/workflows/docs.yml
  README.md
  docs/CHANGELOG.md
  pipen.png
  pipen/__main__.py
  pipen/cli/_hooks.py
  pipen/cli/_main.py
  pipen/cli/help.py
  pipen/cli/plugins.py
  pipen/cli/profile.py
  pipen/cli/version.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/test_cli.py
Due: versionchecker, pytest, flake8

🐛 Fix cli plugin name
  pipen/cli/_main.py
  poetry.lock
Due: pytest, flake8

🔖 0.4.1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.4.1 (#142)
  docs/CHANGELOG.md
  pipen/cli/_main.py
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

⬆️ Bump argx to 0.2
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.4.2
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.4.2 (#143)
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

⬆️ Bump argx to 0.2.2
  poetry.lock
Due: none

🎨 Expose parse_args() to cli plugins
  docs/cli.md
  docs/plugin.md
  pipen/cli/_hooks.py
  pipen/cli/_main.py
Due: pytest, flake8

🔖 0.4.3
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.4.3 (#144)
  docs/CHANGELOG.md
  docs/cli.md
  docs/plugin.md
  pipen/cli/_hooks.py
  pipen/cli/_main.py
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

🐛 Fix when cli plugin has no docstring
  pipen/cli/_main.py
Due: pytest, flake8

🚑 Exclude help from help sub-command itself
  pipen/cli/help.py
Due: pytest, flake8

🔖 0.4.4
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🐛 Fix subcommand list for help command
  pipen/cli/help.py
Due: pytest, flake8

0.4.4 (#145)
  docs/CHANGELOG.md
  pipen/cli/_main.py
  pipen/cli/help.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🚑 Fix banner alignment in terminal
  pipen/utils.py
Due: pytest, flake8

🔖 0.4.5
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

0.4.5 (#146)
  docs/CHANGELOG.md
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

🐛 Fix plugins command
  pipen/cli/plugins.py
Due: pytest, flake8
