Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/|^docs/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen/version.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen/version\.py$
    -   id: mypy
        name: Run mypy type check
        entry: mypy
        language: system
        args: ["-p", "pipen"]
        pass_filenames: false
        always_run: true
        files: ^/pipen/.+$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^pipen/.+$
    -   id: flake8
        name: Run flake8
        entry: flake8
        language: system
        args: [pipen]
        pass_filenames: false
        files: ^pipen/.+$

refactor(job): use proc._export_dir as export outdir
  pipen/job.py
Due: pytest, flake8

test(schedulers): add tests for workdir mounting and mount_as_cwd
  tests/helpers.py
  tests/test_job.py
  tests/test_pipen.py
  tests/test_scheduler.py
Due: none

test(utils): re-enable forked marker for cloud symlink test
  tests/test_utils.py
Due: none

chore(deps): update cloudsh to 0.3.10 with conditional argcomplete pin
  uv.lock
Due: none

chore(version): bump to 1.2.0a1
  pipen/version.py
Due: versionchecker, pytest, flake8

style: fix coding styles and typings
  pipen/_job_caching.py
  pipen/channel.py
  pipen/cli/_main.py
  pipen/cli/help.py
  pipen/cli/plugins.py
  pipen/cli/profile.py
  pipen/cli/version.py
  pipen/job.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/procgroup.py
  pipen/progressbar.py
  pipen/scheduler.py
  pipen/template.py
  pipen/utils.py
  pyproject.toml
  tests/test_scheduler.py
Due: versionchecker, pytest, flake8

1.2.0a2
  pipen/version.py
Due: versionchecker, pytest, flake8

fix: refactor export directory handling for GbatchScheduler and ContainerScheduler
  pipen/scheduler.py
  tests/test_scheduler.py
Due: pytest, flake8

1.2.0a3
  pipen/version.py
Due: versionchecker, pytest, flake8

chore: don't create workdir in pipeline preparation
  pipen/pipen.py
  pipen/proc.py
  pipen/utils.py
  tests/test_pipen.py
Due: pytest, flake8

1.2.0a4
  pipen/version.py
Due: versionchecker, pytest, flake8

ci: ensure caching is enabled for uv setup in deployment
  .github/workflows/build.yml
Due: none

fix: update output directory creation for shared file systems in Job class
  pipen/job.py
  pipen/scheduler.py
Due: pytest, flake8

1.2.0a5
  pipen/version.py
Due: versionchecker, pytest, flake8

docs: correct img tag self-closing syntax in README
  README.md
Due: none

chore: sort plugin, scheduler, and template options in logging output
  pipen/pipen.py
Due: pytest, flake8

refactor: adopt xqute 2.2.0a8
  pipen/proc.py
  pipen/scheduler.py
  tests/test_job.py
  tests/test_scheduler.py
  uv.lock
Due: pytest, flake8

1.2.0a6
  pipen/version.py
Due: versionchecker, pytest, flake8

style: add missing newline and correct formatting in ContainerScheduler
  pipen/scheduler.py
Due: pytest, flake8

1.2.0
  README.md
  docs/CHANGELOG.md
  pipen/version.py
  uv.lock
Due: versionchecker, pytest, flake8

fix: improve error handling for log message formatting
  pipen/proc.py
Due: pytest, flake8

chore: update dependencies
  uv.lock
Due: none

1.2.1
  docs/CHANGELOG.md
  pipen/version.py
Due: versionchecker, pytest, flake8

fix: enhance log message formatting error handling and add corresponding test
  pipen/proc.py
  tests/test_proc.py
  uv.lock
Due: pytest, flake8

feat: add job.script.diff to save the updates of the new script
  examples/example.py
  pipen/job.py
Due: pytest, flake8

chore: improve log messages for cache checks
  pipen/_job_caching.py
  pipen/job.py
  tests/test_job.py
Due: pytest, flake8

style: fix code lines too long
  pipen/_job_caching.py
Due: pytest, flake8

1.2.2
  docs/CHANGELOG.md
  pipen/version.py
Due: versionchecker, pytest, flake8

fix(test): add google-cloud-storage dependency for development
  pyproject.toml
  uv.lock
Due: versionchecker

fix: handle mtime for character devices in get_mtime function
  pipen/utils.py
  tests/test_utils.py
Due: pytest, flake8

1.2.3
  docs/CHANGELOG.md
  pipen/version.py
Due: versionchecker, pytest, flake8

chore: relicense from Apache-2.0 to MIT
  LICENSE
  pyproject.toml
Due: versionchecker

docs: correct the cache description and drop two options that were never implemented
  README.md
  docs/architecture.md
  docs/caching.md
  docs/glossary.md
  docs/troubleshooting.md
  pipen/defaults.py
  pipen/proc.py
Due: pytest, flake8

chore: comment out prerelease option in pyproject.toml
  pyproject.toml
  uv.lock
Due: versionchecker

1.2.4
  docs/CHANGELOG.md
  pipen/version.py
Due: versionchecker, pytest, flake8
