Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/|^docs/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen/version.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen/version\.py$
    -   id: mypy
        name: Run mypy type check
        entry: mypy
        language: system
        args: ["-p", "pipen"]
        pass_filenames: false
        always_run: true
        files: ^/pipen/.+$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^pipen/.+$
    -   id: flake8
        name: Run flake8
        entry: flake8
        language: system
        args: [pipen]
        pass_filenames: false
        files: ^pipen/.+$

🔖 0.4.6
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.4.6 (#147)
  docs/CHANGELOG.md
  pipen/cli/plugins.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

WIP: add procgroup
  docs/proc-group.md
  mkdocs.yml
  pipen/__init__.py
  pipen/proc.py
  pipen/procgroup.py
  tests/test_procgroup.py
Due: pytest, flake8

Fix process group
  docs/proc-group.md
  pipen/procgroup.py
  tests/test_procgroup.py
Due: pytest, flake8

Separate _load_runtime_procs() for procgroup
  pipen/proc.py
  pipen/procgroup.py
Due: pytest, flake8

🚨 FIx typing annotations
  pipen/proc.py
  pipen/procgroup.py
Due: pytest, flake8

➖ Remove more-itertools
  pipen/utils.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

🔖 0.5.0
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.5.0 (#148)
  docs/CHANGELOG.md
  docs/proc-group.md
  mkdocs.yml
  pipen/__init__.py
  pipen/proc.py
  pipen/procgroup.py
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/test_procgroup.py
Due: versionchecker, pytest, flake8

🚑 Remove remaining more-itertools
  pipen/utils.py
Due: pytest, flake8

🔖 0.5.1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.5.1 (#149)
  docs/CHANGELOG.md
  pipen/utils.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

📝 Refactor codebase: unify type annotations and import future features
  pipen/channel.py
  pipen/cli/version.py
  pipen/defaults.py
  pipen/job.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/procgroup.py
  pipen/progressbar.py
  pipen/scheduler.py
  pipen/template.py
  pipen/utils.py
  tests/test_procgroup.py
Due: pytest, flake8

🐛 Allow methods decorated by @ProcGroup.add_proc to return None
  pipen/procgroup.py
  tests/test_procgroup.py
Due: pytest, flake8

📈 Bump up pipen version to v0.5.2
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

0.5.2 (#150)
  docs/CHANGELOG.md
  pipen/channel.py
  pipen/cli/version.py
  pipen/defaults.py
  pipen/job.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/procgroup.py
  pipen/progressbar.py
  pipen/scheduler.py
  pipen/template.py
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/test_procgroup.py
Due: versionchecker, pytest, flake8

✨ Allow subclassing Pipen to create a pipeline
  .gitignore
  README.md
  examples/caching.py
  examples/input_data_callback.py
  examples/mako-templating.py
  pipen/pipen.py
  poetry.lock
  pyproject.toml
  tests/test_pipen.py
Due: versionchecker, pytest, flake8

✨ Allow subclassing Pipen to create a pipeline (#151)
  .gitignore
  README.md
  examples/caching.py
  examples/input_data_callback.py
  examples/mako-templating.py
  pipen/pipen.py
  poetry.lock
  pyproject.toml
  tests/test_pipen.py
Due: versionchecker, pytest, flake8

🔖 0.6.0
  docs/CHANGELOG.md
  pipen/job.py
  pipen/pipen.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🐛 Fix path expansion for `~/.pipen.toml` in defaults.
  pipen/defaults.py
Due: pytest, flake8

🔖 0.6.1
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.6.1 (#152)
  pipen/defaults.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

📝 Update changelog
  docs/CHANGELOG.md
Due: none

⬆️ Adopt xqute 0.1.5
  pipen/job.py
  pipen/progressbar.py
  poetry.lock
Due: pytest, flake8

📝 Update README.md
  README.md
Due: none

🔖 0.6.2
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.6.2 (#153)
  README.md
  docs/CHANGELOG.md
  pipen/job.py
  pipen/progressbar.py
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

🔊 Trim right space of logs
  pipen/defaults.py
  pipen/utils.py
Due: pytest, flake8

🔖 0.6.3
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

0.6.3 (#154)
  docs/CHANGELOG.md
  pipen/defaults.py
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

🔀 Set desc from docstring if not given for pipelines
  pipen/pipen.py
Due: pytest, flake8

🔖 0.6.4
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.6.4 (#155)
  docs/CHANGELOG.md
  pipen/pipen.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

⬆️ Update liquidpy to 0.8
  poetry.lock
  pyproject.toml
Due: versionchecker

🎨 Put procgroup in Proc.__meta__, which is not inherited when subclassing
  pipen/proc.py
  pipen/procgroup.py
  tests/test_procgroup.py
Due: pytest, flake8

⚡️ Do not mutate Proc.__doc__ when subclassing
  pipen/proc.py
Due: pytest, flake8

⚡️ Use mro to detect parent class of a Proc
  pipen/proc.py
Due: pytest, flake8

🔖 0.7.0
  README.md
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

0.7.0 (#156)
  README.md
  docs/CHANGELOG.md
  pipen/proc.py
  pipen/procgroup.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/test_procgroup.py
Due: versionchecker, pytest, flake8

⬆️ Upgrade simplug to 0.2.3
  poetry.lock
Due: none
