Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver pipen/version.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

flake8:
  name: Run flake8
  entry: flake8
  language: system
  args:
  - pipen
  pass_filenames: false

🔖 0.10.4
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.10.4 (#177)
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

🎨 Allow starts to be set as a tuple
  pipen/pipen.py
Due: pytest, flake8

⬆️ Bump python-simpleconf to 0.6 and other deps to latest versions
  poetry.lock
  pyproject.toml
Due: versionchecker

➕ Add rtoml to deps (as python-simpleconf 0.6 may not depend on rtoml)
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.10.5
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🔖 0.10.5 (#178)
  docs/CHANGELOG.md
  pipen/pipen.py
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

Fix "DeprecationWarning: np.find_common_type is deprecated." from pandas (due to numpy 1.25 update)
  pipen/proc.py
Due: pytest, flake8

🔖 0.10.6
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🔖 0.10.6 (#179)
  docs/CHANGELOG.md
  pipen/proc.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

Update README.md
  README.md
Due: none

Bump argx to 0.2.10
  poetry.lock
  pyproject.toml
Due: versionchecker

Add Dockerfile for codesandbox
  .codesandbox/Dockerfile
Due: none

Bump pandas to v2
  pipen/channel.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

Fix linting
  pipen/channel.py
Due: pytest, flake8

🔖 0.11.0
  README.md
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Fix CI
  .github/workflows/docs.yml
Due: none

🔖 0.11.0 (#180)
  .codesandbox/Dockerfile
  .github/workflows/docs.yml
  README.md
  docs/CHANGELOG.md
  pipen/channel.py
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

Dismiss warning for fillna method for pandas 2.1
  pipen/proc.py
Due: pytest, flake8

🔖 0.11.1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

Fix channel.expand_dir() may add new column
  pipen/channel.py
Due: pytest, flake8

🔖 0.11.1 (#181)
  docs/CHANGELOG.md
  pipen/channel.py
  pipen/proc.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

✨ Add utils.load_pipeline() to load pipeline
  pipen/utils.py
  poetry.lock
  pyproject.toml
  tests/test_utils.py
Due: versionchecker, pytest, flake8

🚨 Fix linting
  pipen/utils.py
Due: pytest, flake8

🔖 0.12.0
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🔖 0.12.0 (#182)
  docs/CHANGELOG.md
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/test_utils.py
Due: versionchecker, pytest, flake8

Add utils.is_loading_pipeline() to check if pipeline is loading
  pipen/utils.py
  tests/helpers.py
  tests/test_utils.py
Due: pytest, flake8

🔖 0.12.1
  README.md
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🔖 0.12.1 (#183)
  README.md
  docs/CHANGELOG.md
  pipen/utils.py
  pipen/version.py
  pyproject.toml
  tests/helpers.py
  tests/test_utils.py
Due: versionchecker, pytest, flake8

Append sys.argv[1:] by default when cli_args is None in utils.load_pipeline()
  pipen/utils.py
Due: pytest, flake8

🔖 0.12.2
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🔖 0.12.2 (#184)
  docs/CHANGELOG.md
  pipen/utils.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

Change cli_args to argv0 and argv1p for utils.load_pipeline
  pipen/utils.py
Due: pytest, flake8

🔖 0.12.3
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🔖 0.12.3 (#185)
  docs/CHANGELOG.md
  pipen/utils.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

Modify sys.argv before the module is loaded in `utils.load_pipeline()`
  pipen/utils.py
Due: pytest, flake8

Fix linting
  pipen/utils.py
Due: pytest, flake8

🔖 0.12.4
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

Path conditions:
  versionchecker: any of: ^pyproject\.toml|pipen/version\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  pytest: any of: ^tests/.+$|^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  flake8: any of: ^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
