Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/|^docs/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen/version.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen/version\.py$
    -   id: mypy
        name: Run mypy type check
        entry: mypy
        language: system
        args: ["-p", "pipen"]
        pass_filenames: false
        always_run: true
        files: ^/pipen/.+$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^pipen/.+$
    -   id: flake8
        name: Run flake8
        entry: flake8
        language: system
        args: [pipen]
        pass_filenames: false
        files: ^pipen/.+$

🔧 Fix workdir in log
  pipen/pipen.py
Due: pytest, flake8

🔖 0.9.5
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.9.5 (#166)
  docs/CHANGELOG.md
  pipen/pipen.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🎨 Let plugins change and create workdir
  pipen/pipen.py
Due: pytest, flake8

🔧 Change the default outdir suffix from _results to -output
  pipen/pipen.py
Due: pytest, flake8

📖 Update README file and add new plugins
  README.md
  docs/examples.md
Due: none

🔖 0.9.6
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.9.6 (#167)
  README.md
  docs/CHANGELOG.md
  docs/examples.md
  pipen/pipen.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🔧 Allow to inherit doc from base class for Pipen/Proc
  pipen/pipen.py
  pipen/proc.py
  pipen/utils.py
  tests/test_utils.py
Due: pytest, flake8

🔖 0.9.7
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

0.9.7 (#168)
  docs/CHANGELOG.md
  pipen/pipen.py
  pipen/proc.py
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/test_utils.py
Due: versionchecker, pytest, flake8

🐛 Fix priority of core plugin
  pipen/pluginmgr.py
Due: pytest, flake8

🔖 0.9.8
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.9.8 (#169)
  docs/CHANGELOG.md
  pipen/pluginmgr.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

⚡️ `utils.mark` and `get_marked` now work with ProcGroup and other classes
  pipen/procgroup.py
  pipen/utils.py
  tests/test_utils.py
Due: pytest, flake8

🔖 0.9.9
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

0.9.9 (#170)
  docs/CHANGELOG.md
  pipen/procgroup.py
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/test_utils.py
Due: versionchecker, pytest, flake8

🐛 Fix `utils.mark` and `get_marked` when `__meta__` is `None`
  pipen/utils.py
Due: pytest, flake8

🔖 0.9.10
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

0.9.10 (#171)
  docs/CHANGELOG.md
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

🐛 Make sure .envs of Proc subclasses are Diot objects
  pipen/proc.py
Due: pytest, flake8

🔖 0.9.11
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.9.11 (#172)
  docs/CHANGELOG.md
  pipen/proc.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

💥 Change hook `on_proc_init` to `on_proc_create`
  pipen/pluginmgr.py
  pipen/proc.py
Due: pytest, flake8

✨ Add `on_proc_init` hook back but after the process initialized insteadl of before
  pipen/pluginmgr.py
  pipen/proc.py
Due: pytest, flake8

👷 Add python 3.11 to CI
  .github/workflows/build.yml
Due: none

📝 Update documentation about updated hooks
  docs/plugin.md
Due: none

🔖 0.10.0
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.10.0 (#173)
  .github/workflows/build.yml
  docs/CHANGELOG.md
  docs/plugin.md
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

✨ Add `on_proc_script_computed` hook
  docs/plugin.md
  pipen/pluginmgr.py
  pipen/proc.py
Due: pytest, flake8

🔖 0.10.1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.10.1 (#174)
  docs/CHANGELOG.md
  docs/plugin.md
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🐛 Fix exception handling in ProcPBar class update method
  pipen/progressbar.py
Due: pytest, flake8

📝 Update README.md
  README.md
Due: none

🔖 0.10.2
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.10.2 (#175)
  README.md
  docs/CHANGELOG.md
  pipen/progressbar.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

Bump xqute to 0.2.2
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.10.3
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.10.3 (#176)
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

⬆️ Bump xqute to 0.2.3
  poetry.lock
  pyproject.toml
Due: versionchecker
