Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/|^docs/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen/version.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen/version\.py$
    -   id: mypy
        name: Run mypy type check
        entry: mypy
        language: system
        args: ["-p", "pipen"]
        pass_filenames: false
        always_run: true
        files: ^/pipen/.+$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^pipen/.+$
    -   id: flake8
        name: Run flake8
        entry: flake8
        language: system
        args: [pipen]
        pass_filenames: false
        files: ^pipen/.+$

docs: add progress bar section to running documentation
  docs/pbar1.png
  docs/pbar2.png
  docs/running.md
Due: none

0.17.29
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: optimize the job submission (individual job submitted to scheduler right after initiation instead of waiting for all jobs to finish initiation)
  docs/plugin.md
  pipen/job.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/proc.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: update documentation links and styles, add script for collapsible sections
  .gitignore
  docs/cli.md
  docs/configurations.md
  docs/input-output.md
  docs/plugin.md
  docs/requirements.txt
  docs/rtd-logo.png
  docs/running.md
  docs/script.js
  docs/script.md
  docs/style.css
  mkdocs.yml
Due: none

feat: enhance progress bar to display job status counts and update formatting
  docs/running.md
  pipen/progressbar.py
  poetry.lock
Due: pytest, flake8

1.0.0rc1
  README.md
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: implement asynchronous job preparation in batches for improved performance
  pipen/proc.py
Due: pytest, flake8

fix: correct typo in WrongTemplateEngineTypeError class name
  pipen/exceptions.py
  pipen/template.py
Due: pytest, flake8

1.0.0
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: make sure job.output is computed before on_job_init() hook
  pipen/job.py
  pipen/proc.py
Due: pytest, flake8

feat: show direct job status for single-job process
  pipen/progressbar.py
Due: pytest, flake8

chore: add __slots__ to Template class for improved memory efficiency
  pipen/template.py
Due: pytest, flake8

feat: enhance job progress bar to indicate cached jobs for single-job processes
  docs/running.md
  pipen/pluginmgr.py
  pipen/progressbar.py
Due: pytest, flake8

1.0.1
  README.md
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: make sure on_job_init() hook is called when no script was specified
  pipen/job.py
Due: pytest, flake8

1.0.2
  README.md
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: defer setting bar_format to prevent ValueError when rendering counter
  pipen/progressbar.py
Due: pytest, flake8

1.0.3
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: bump xqute to 1.0.1
  poetry.lock
Due: none

feat: add queued job status to progress bar and update related hooks
  docs/running.md
  pipen/pluginmgr.py
  pipen/progressbar.py
Due: pytest, flake8

1.0.3
  docs/CHANGELOG.md
Due: none

chore: adjust bar_format alignment for better readability
  pipen/progressbar.py
Due: pytest, flake8

1.0.4
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: bump xqute to 2.0
  poetry.lock
  pyproject.toml
Due: versionchecker

feat: add async versions of from_glob and from_pairs methods in Channel class
  docs/channels.md
  pipen/channel.py
  tests/test_channel.py
Due: pytest, flake8

refactor: convert get_mtime to async and update related methods and tests
  pipen/_job_caching.py
  pipen/utils.py
  tests/test_utils.py
Due: pytest, flake8

feat: add async_run function and update run to support async execution
  pipen/__init__.py
  pipen/pipen.py
Due: pytest, flake8

refactor: migrate to panpath from cloudpatlib
  pipen/_job_caching.py
  pipen/job.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/scheduler.py
  tests/helpers.py
  tests/test_pipen.py
  tests/test_scheduler.py
Due: pytest, flake8

feat: update path handling to use PanPath and add async support for symlink functions
  pipen/utils.py
  tests/test_job.py
  tests/test_utils.py
Due: pytest, flake8

fix: improve job retry handling in ProcPBar and simplify success/failure updates
  pipen/progressbar.py
Due: pytest, flake8

test: add coverage pragma to retry handling methods and comment out flaky test
  pipen/pluginmgr.py
  pipen/progressbar.py
  tests/test_xqute_pars.py
Due: pytest, flake8

style: fix type annotation and flake8 issues
  pipen/channel.py
  pipen/job.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/procgroup.py
  pipen/scheduler.py
  pipen/utils.py
Due: pytest, flake8

1.1.0rc1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: update argx dependency version to ^0.4
  poetry.lock
  pyproject.toml
Due: versionchecker

1.1.0rc2
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: bump xqute to 2.0.2
  poetry.lock
Due: none

style: remove type ignore comments for clarity
  pipen/__init__.py
  pipen/__main__.py
  pipen/channel.py
  pipen/cli/_main.py
  pipen/cli/help.py
  pipen/cli/plugins.py
  pipen/cli/profile.py
  pipen/cli/version.py
  pipen/defaults.py
  pipen/job.py
  pipen/proc.py
  pipen/procgroup.py
  pipen/progressbar.py
  pipen/scheduler.py
  pipen/template.py
  pipen/utils.py
Due: pytest, flake8

refactor: streamline process initialization and script computation
  pipen/pipen.py
  pipen/proc.py
Due: pytest, flake8
