Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/|^docs/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen/version.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen/version\.py$
    -   id: mypy
        name: Run mypy type check
        entry: mypy
        language: system
        args: ["-p", "pipen"]
        pass_filenames: false
        always_run: true
        files: ^/pipen/.+$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^pipen/.+$
    -   id: flake8
        name: Run flake8
        entry: flake8
        language: system
        args: [pipen]
        pass_filenames: false
        files: ^pipen/.+$

📝 Update examples
  examples/caching.py
  examples/input_data_callback.py
  examples/mako-templating.py
  examples/multijobs.py
  examples/plugin-example.py
  examples/python-script.py
  examples/retry.py
Due: none

✨ Add `on_proc_init()` hook to enables plugins to modify the default attributes of processes
  docs/CHANGELOG.md
  docs/plugin.md
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

💥 Rename `Proc.args` to `Proc.envs`
  docs/CHANGELOG.md
  docs/defining-proc.md
  docs/templating.md
  pipen/job.py
  pipen/proc.py
  tests/test_proc.py
Due: pytest, flake8

0.1.3 (#107)
  docs/CHANGELOG.md
  docs/defining-proc.md
  docs/plugin.md
  docs/templating.md
  pipen/job.py
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/version.py
  pyproject.toml
  tests/test_proc.py
Due: versionchecker, pytest, flake8

🩹 Use brackets to indicate cached jobs
  pipen/proc.py
Due: pytest, flake8

🩹 Run `on_complete` hook only when no exception happened; Let `on_proc_init` to modify process `workdir`
  pipen/pipen.py
  pipen/proc.py
Due: pytest, flake8

🐛 Fix when nexts affected by parent nexts assignment
  pipen/proc.py
Due: pytest, flake8

0.1.4
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

📝 Update plugin gallery
  docs/plugin.md
Due: none

0.1.4 (#108)
  docs/CHANGELOG.md
  docs/plugin.md
  pipen/pipen.py
  pipen/proc.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

💥 Restructure CLI plugins (0.2.0)
  docs/CHANGELOG.md
  docs/cli.md
  pipen/cli/__init__.py
  pipen/cli/_hooks.py
  pipen/cli/_main.py
  pipen/cli/help.py
  pipen/cli/plugins.py
  pipen/cli/profile.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

✅ Add tests for CLI plugin restructure
  tests/test_cli.py
Due: none

0.2.0 (#109)
  docs/CHANGELOG.md
  docs/cli.md
  pipen/cli/__init__.py
  pipen/cli/_hooks.py
  pipen/cli/_main.py
  pipen/cli/help.py
  pipen/cli/plugins.py
  pipen/cli/profile.py
  pipen/version.py
  pyproject.toml
  tests/test_cli.py
Due: versionchecker, pytest, flake8

🎨 Allow CLI plugin to have different name than the command
  pipen/cli/_main.py
  pipen/cli/help.py
Due: pytest, flake8

🔖 0.2.1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.2.1 (#110)
  docs/CHANGELOG.md
  pipen/cli/_main.py
  pipen/cli/help.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🐛 Load CLI plugins at runtime
  pipen/cli/_main.py
Due: pytest, flake8

🔖 0.2.2
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.2.2 (#111)
  docs/CHANGELOG.md
  pipen/cli/_main.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

⚡️ Speed up package importing
  examples/input_data_callback.py
  pipen/__init__.py
  pipen/job.py
  pipen/proc.py
  pipen/progressbar.py
  pipen/utils.py
Due: pytest, flake8

🔖 0.2.3
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.2.3 (#112)
  docs/CHANGELOG.md
  examples/input_data_callback.py
  pipen/__init__.py
  pipen/job.py
  pipen/proc.py
  pipen/progressbar.py
  pipen/utils.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

📝 Update README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

✨ Add execution order for processes
  pipen/defaults.py
  pipen/pipen.py
  pipen/proc.py
  pipen/progressbar.py
  pipen/utils.py
  tests/test_pipen.py
Due: pytest, flake8

🔖 0.2.4
  README.md
  docs/CHANGELOG.md
  docs/defining-proc.md
  docs/plugin.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.2.4 (#114)
  README.md
  docs/CHANGELOG.md
  docs/defining-proc.md
  docs/plugin.md
  pipen/defaults.py
  pipen/pipen.py
  pipen/proc.py
  pipen/progressbar.py
  pipen/utils.py
  pipen/version.py
  pyproject.toml
  tests/test_pipen.py
Due: versionchecker, pytest, flake8

🩹 Allow relative script path to be inherited
  pipen/proc.py
Due: pytest, flake8

🐛 Fix column order from depedency processes
  pipen/proc.py
Due: pytest, flake8

🩹 Fix __doc__ not inherited for processes
  pipen/proc.py
  pipen/utils.py
  tests/test_pipen.py
Due: pytest, flake8

🔖 0.2.5
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.2.5 (#115)
  docs/CHANGELOG.md
  pipen/proc.py
  pipen/utils.py
  pipen/version.py
  pyproject.toml
  tests/test_pipen.py
Due: versionchecker, pytest, flake8

✏️ Fix plugin links in README.md
  README.md
Due: none

🎨 Make `pipen._build_proc_relationships()` public and don't rebuild the relations
  pipen/pipen.py
  tests/test_job.py
Due: pytest, flake8

🔖 0.2.6
  docs/CHANGELOG.md
  pipen/pipen.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

✅ Add tests for pipeline name
  tests/test_pipen.py
Due: none

🩹 Fix process plugin_opts not inherited from pipeline
  pipen/proc.py
Due: pytest, flake8

🔖 0.2.7
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.2.7 (#116)
  docs/CHANGELOG.md
  pipen/proc.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🩹 Forward fill na for input data
  pipen/proc.py
Due: pytest, flake8
