Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/|^docs/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen/version.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen/version\.py$
    -   id: mypy
        name: Run mypy type check
        entry: mypy
        language: system
        args: ["-p", "pipen"]
        pass_filenames: false
        always_run: true
        files: ^/pipen/.+$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^pipen/.+$
    -   id: flake8
        name: Run flake8
        entry: flake8
        language: system
        args: [pipen]
        pass_filenames: false
        files: ^pipen/.+$

fix: fix Pipen object not recognized by `utils.load_pipeline()`
  pipen/utils.py
Due: pytest, flake8

style: fix type annotations in Pipen class
  pipen/pipen.py
  pipen/proc.py
Due: pytest, flake8

deps: bump argx to 0.2.11
  poetry.lock
Due: none

0.15.4
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: fix `kwargs` not updated when pipeline is a `Pipen` object in `utils.load_pipeline()`
  pipen/utils.py
Due: pytest, flake8

fix: fix type checking in `utils.load_pipeline()`
  pipen/utils.py
  tests/helpers.py
  tests/test_utils.py
Due: pytest, flake8

0.15.5
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore(deps): bump python-varname to 0.14
  poetry.lock
  pyproject.toml
Due: versionchecker

ci: update GitHub Actions to use ubuntu-24.04
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

style: fix style issues in test files
  tests/test_job.py
  tests/test_pipen.py
  tests/test_plugin.py
  tox.ini
Due: none

0.15.6
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore(deps): update xqute to version 0.5.5
  poetry.lock
  pyproject.toml
Due: versionchecker

chore(deps): update pytest-asyncio to version 0.25.2
  poetry.lock
  pyproject.toml
Due: versionchecker

chore: add logging for plugin initialization
  pipen/pipen.py
Due: pytest, flake8

0.15.7
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore(deps): update package versions for executing, and xqute
  poetry.lock
Due: none

fix: change the input/output path from resolved to absolute for symlinks
  pipen/pipen.py
  pipen/pluginmgr.py
  tests/test_proc.py
Due: pytest, flake8

style(tests): update imports and add noqa comment for unused variable
  tests/test_proc.py
  tests/test_template.py
Due: none

0.15.8
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

ci: update build workflow conditions and improve dependency versions
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
Due: versionchecker

feat: support gbatch scheduler and cloud workdir/outdir
  .gitignore
  examples/cloudwdir.py
  pipen/_job_caching.py
  pipen/channel.py
  pipen/cli/profile.py
  pipen/job.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/scheduler.py
  pipen/utils.py
  tests/conftest.py
  tests/helpers.py
  tests/test_channel.py
  tests/test_job.py
  tests/test_pipen.py
  tests/test_plugin.py
  tests/test_utils.py
Due: pytest, flake8

0.16.0a1
  .coveragerc
  .github/workflows/build.yml
  .gitignore
  README.md
  docs/CHANGELOG.md
  docs/cloud.md
  docs/pipen-cloud1.png
  docs/pipen-cloud2.png
  docs/plugin.md
  docs/scheduler.md
  examples/cloudwdir.py
  examples/gbatch.py
  mkdocs.yml
  pipen/_job_caching.py
  pipen/channel.py
  pipen/job.py
  pipen/pipen.py
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/py.typed
  pipen/scheduler.py
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/helpers.py
  tests/test_cli.py
  tests/test_job.py
  tests/test_pipen.py
  tests/test_proc.py
  tests/test_scheduler.py
  tests/test_utils.py
Due: versionchecker, pytest, flake8

fix: simplify dotenv loading in cloud workdir and gbatch examples
  examples/cloudwdir.py
  examples/gbatch.py
Due: none

feat: support mounted paths (e.g. path1:path2) as input
  pipen/job.py
  tests/test_job.py
Due: pytest, flake8

refactor: remove redundant validation for workdir and outdir path types
  pipen/pipen.py
  tests/test_pipen.py
Due: pytest, flake8

feat: enforce GSPath type for 'gbatch' scheduler as pipeline outdir
  pipen/scheduler.py
  tests/test_scheduler.py
Due: pytest, flake8

feat: add fast_mount option to GbatchScheduler for cloud directory mounting
  docs/scheduler.md
  pipen/scheduler.py
  tests/test_scheduler.py
Due: pytest, flake8

style: add type ignore for AnyPath conversion in _process_input_file_or_dir
  pipen/job.py
Due: pytest, flake8

0.16.0a2
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: update workdir path to include pipeline name in Pipen class
  pipen/pipen.py
Due: pytest, flake8

0.16.0a3
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore(deps): bump python-simpleconf to v0.7
  poetry.lock
  pyproject.toml
Due: versionchecker

0.16.0a4
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: support DualPath output directory in Job class and ensure mounted directory creation
  pipen/job.py
  tests/test_job.py
Due: pytest, flake8

0.16.0a5
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: initialize cmd with a default value to prevent errors when no script is provided
  pipen/job.py
Due: pytest, flake8

0.16.0a6
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore(deps): bump xqute to 0.8.1
  poetry.lock
Due: none
