Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver pipen/version.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

flake8:
  name: Run flake8
  entry: flake8
  language: system
  args:
  - pipen
  pass_filenames: false

🔖 0.2.8
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.2.8 (#117)
  docs/CHANGELOG.md
  pipen/proc.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

✨ Allow `requires` to be set by `__setattr__()`
  .gitignore
  pipen/proc.py
Due: pytest, flake8

🔖 0.2.9
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.2.9 (#118)
  .gitignore
  docs/CHANGELOG.md
  pipen/proc.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

✨ Add hook `on_proc_input_computed`
  docs/plugin.md
  pipen/pluginmgr.py
  pipen/proc.py
Due: pytest, flake8

🩹 Default new process docstring to "Undescribed process."
  pipen/proc.py
Due: pytest, flake8

🔖 0.2.10
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.2.10 (#119)
  docs/CHANGELOG.md
  docs/plugin.md
  pipen/pluginmgr.py
  pipen/proc.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🩹 Update envs, plugin_opts and scheduler_opts while subclassing processes.
  pipen/proc.py
  pipen/template.py
Due: pytest, flake8

🔖 0.2.11
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.2.11 (#120)
  docs/CHANGELOG.md
  pipen/proc.py
  pipen/template.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

✏️ Fix typo
  pipen/proc.py
Due: pytest, flake8

🔖 0.2.12
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.2.12 (#121)
  docs/CHANGELOG.md
  pipen/proc.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🩹 Don't require `job.signature.toml` to force cache a job
  pipen/_job_caching.py
Due: pytest, flake8

🔖 0.2.13
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🔖 0.2.13 (#122)
  docs/CHANGELOG.md
  pipen/_job_caching.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🩹 Shorten pipeline info in log for long config options
  pipen/pipen.py
Due: pytest, flake8

🐛 Fix cached jobs being put into queue
  pipen/proc.py
Due: pytest, flake8

🩹 Shorten job debug messages when hit limits
  pipen/job.py
  tests/test_job.py
Due: pytest, flake8

🔖 0.2.14
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🚑 Remove sort_dicts for pprint.pformat for py3.7
  docs/CHANGELOG.md
  pipen/pipen.py
Due: pytest, flake8

🔖 0.2.14 (#124)
  docs/CHANGELOG.md
  pipen/job.py
  pipen/pipen.py
  pipen/proc.py
  pipen/version.py
  pyproject.toml
  tests/test_job.py
Due: versionchecker, pytest, flake8

🩹 Fix `FutureWarning` in `Proc._compute_input()`
  pipen/proc.py
Due: pytest, flake8

🩹 Add __doc__ with `Proc.from_proc()`
  pipen/proc.py
Due: pytest, flake8

📌 Pin deps for docs
  docs/requirements.txt
Due: none

🔖 0.2.15
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🔖 0.2.15 (#125)
  docs/CHANGELOG.md
  docs/requirements.txt
  pipen/proc.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

📌 Pin dep versions
  .gitignore
  poetry.lock
  pyproject.toml
Due: versionchecker

🩹 Allow to set workdir from Pipen constructor
  pipen/pipen.py
Due: pytest, flake8

🔖 0.2.16
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

✅ Fix tests for pytest-xdist
  pyproject.toml
  tests/helpers.py
  tests/test_pipen.py
  tests/test_proc.py
Due: versionchecker

📌 Update poetry.lock
  poetry.lock
Due: none

0.2.16 (#126)
  .gitignore
  docs/CHANGELOG.md
  pipen/pipen.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/helpers.py
  tests/test_pipen.py
  tests/test_proc.py
Due: versionchecker, pytest, flake8

⬆️ Upgrade deps and use `rtoml` instead of `toml`
  pipen/_job_caching.py
  pipen/cli/profile.py
  pipen/pipen.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

🩹 Dump job signature to file directly instead of dump to a string first
  pipen/_job_caching.py
Due: pytest, flake8

👷 Add python 3.10 to CI
  .github/workflows/build.yml
Due: none

📝 Add dependencies badge to README.md
  README.md
Due: none

📝 Update README.md
  README.md
Due: none

Path conditions:
  versionchecker: any of: ^pyproject\.toml|pipen/version\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  pytest: any of: ^tests/.+$|^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  flake8: any of: ^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
