Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/|^docs/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen/version.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen/version\.py$
    -   id: mypy
        name: Run mypy type check
        entry: mypy
        language: system
        args: ["-p", "pipen"]
        pass_filenames: false
        always_run: true
        files: ^/pipen/.+$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^pipen/.+$
    -   id: flake8
        name: Run flake8
        entry: flake8
        language: system
        args: [pipen]
        pass_filenames: false
        files: ^pipen/.+$

feat: add Makefile for version management and changelog updates
  Makefile
Due: none

1.1.11
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

refactor(tests): reorganize input file processing tests for clarity
  tests/test_job.py
Due: none

docs: add output_flatten configuration option for process-level exports
  docs/configurations.md
  docs/defining-proc.md
Due: none

feat: implement duplicate fields check for output_flatten in Job and Proc classes
  pipen/job.py
  pipen/proc.py
  tests/test_job.py
Due: pytest, flake8

1.1.12
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: add null_in_list parameter to update_dict for better list handling
  pipen/utils.py
  tests/test_utils.py
Due: pytest, flake8

chore: bump xqute to 2.0.8
  poetry.lock
Due: none

1.1.13
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: migrate from Poetry to Hatch for build system and dependency management
  .github/workflows/build.yml
  .github/workflows/docs.yml
  poetry.lock
  pyproject.toml
  uv.lock
Due: versionchecker

chore: update dependency version constraints for improved compatibility
  pyproject.toml
  uv.lock
Due: versionchecker

chore: update __all__ exports in __init__.py for consistency
  pipen/__init__.py
Due: pytest, flake8

chore: update setup-uv and auth actions to latest versions in workflows
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

1.1.14a1
  Makefile
  docs/CHANGELOG.md
  pipen/version.py
Due: versionchecker, pytest, flake8

1.1.14
  pipen/version.py
Due: versionchecker, pytest, flake8

chore: ensure __all__ exports are defined for CLI components
  pipen/cli/__init__.py
Due: pytest, flake8

chore: update __all__ exports in utils.py for consistency
  pipen/utils.py
Due: pytest, flake8

chore: update __all__ exports in channel.py for consistency
  pipen/channel.py
Due: pytest, flake8

chore: update __all__ exports in defaults.py for consistency
  pipen/defaults.py
Due: pytest, flake8

chore: update __all__ exports in exceptions.py for consistency
  pipen/exceptions.py
Due: pytest, flake8

1.1.15
  docs/CHANGELOG.md
  pipen/version.py
Due: versionchecker, pytest, flake8

chore: bump datar to 0.16 and xqute to 2.1.0 (bringing timeout as scheduler_opts)
  uv.lock
Due: none

docs: add pipen-mcp plugin to README
  README.md
Due: none

1.1.16
  pipen/version.py
Due: versionchecker, pytest, flake8

chore: bump xqute to v2.1.1
  uv.lock
Due: none

fix: validate input data length in set_data method
  pipen/pipen.py
  tests/test_pipen.py
Due: pytest, flake8

fix: handle string and bytes input in set_data method
  pipen/pipen.py
  tests/test_pipen.py
Due: pytest, flake8

1.1.17
  docs/CHANGELOG.md
  pipen/version.py
Due: versionchecker, pytest, flake8

feat: update set_data method to support named arguments and improve error handling
  pipen/pipen.py
  tests/test_pipen.py
Due: pytest, flake8

style: update type hint for _duplicate_fields_check and enhance mypy configuration
  pipen/pipen.py
  pipen/proc.py
  pyproject.toml
Due: versionchecker, pytest, flake8

1.1.18
  docs/CHANGELOG.md
  pipen/version.py
  uv.lock
Due: versionchecker, pytest, flake8

chore: bump xqute==2.1.2
  uv.lock
Due: none

feat: enhance expand_dir and collapse_files to support MountedPath with spec
  pipen/channel.py
  tests/test_channel.py
Due: pytest, flake8

1.1.19
  Makefile
  docs/CHANGELOG.md
  pipen/version.py
Due: versionchecker, pytest, flake8

docs: add pipen-email plugin for email notifications on pipeline status changes
  README.md
  docs/plugin.md
Due: none

docs: update logo
  README.md
  docs/pipen.png
  docs/rtd-logo.png
  mkdocs.yml
Due: none

chore: upgrade xqute to 2.2
  pyproject.toml
  uv.lock
Due: versionchecker

chore: bump xqute to 2.2.0a4
  uv.lock
Due: none

feat(schedulers): support mount_as_cwd and pipeline workdir mounting
  pipen/defaults.py
  pipen/pipen.py
  pipen/proc.py
  pipen/scheduler.py
Due: pytest, flake8
