Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver pipen/version.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

flake8:
  name: Run flake8
  entry: flake8
  language: system
  args:
  - pipen
  pass_filenames: false

🔖 0.3.0
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.3.0 (#127)
  .github/workflows/build.yml
  README.md
  docs/CHANGELOG.md
  pipen/_job_caching.py
  pipen/cli/profile.py
  pipen/pipen.py
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

🩹 Hide config meta data in pipeline information
  pipen/pipen.py
Due: pytest, flake8

🔖 0.3.1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.3.1 (#128)
  docs/CHANGELOG.md
  pipen/pipen.py
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

➖ Remove reduandant deps
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.3.2
  README.md
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.3.2 (#129)
  README.md
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

💚 Remove python3.10 from CI
  .github/workflows/build.yml
  pyproject.toml
Due: versionchecker

📌 Pin pandas version
  poetry.lock
  pyproject.toml
Due: versionchecker

⬆️ Upgrade pipda to v0.6
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: versionchecker

💚 Fix CI
  .github/workflows/build.yml
Due: none

0.3.2 (#130)
  .github/workflows/build.yml
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: versionchecker

♿️ Change default log width to 100; 🩹 Fix broken panel in log content with console width cannot be detected
  pipen/__init__.py
  pipen/cli/_main.py
  pipen/cli/help.py
  pipen/cli/plugins.py
  pipen/cli/profile.py
  pipen/defaults.py
  pipen/job.py
  pipen/pipen.py
  pipen/proc.py
  pipen/progressbar.py
  pipen/utils.py
  pyproject.toml
Due: versionchecker, pytest, flake8

🔖 0.3.3
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

💚 Fix pytest options
  pipen/utils.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.3.3 (#131)
  docs/CHANGELOG.md
  pipen/__init__.py
  pipen/cli/_main.py
  pipen/cli/help.py
  pipen/cli/plugins.py
  pipen/cli/profile.py
  pipen/defaults.py
  pipen/job.py
  pipen/pipen.py
  pipen/proc.py
  pipen/progressbar.py
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

✨ Print pipen version in CLI: pipen plugins
  pipen/cli/plugins.py
Due: pytest, flake8

🩹 Make use of full terminal width for non-panel elements in log
  .gitignore
  pipen/utils.py
  tests/test_pipen.py
Due: pytest, flake8

🩹 Extend width to 256 when terminal width cannot be detected while logging (most likely logging to a text file)
  pipen/defaults.py
  pipen/pipen.py
  pipen/proc.py
  pipen/utils.py
Due: pytest, flake8

🔖 0.3.4
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

⬆️ Upgrade dependencies
  poetry.lock
Due: none

0.3.4 (#132)
  .gitignore
  docs/CHANGELOG.md
  pipen/cli/plugins.py
  pipen/defaults.py
  pipen/pipen.py
  pipen/proc.py
  pipen/utils.py
  pipen/version.py
  poetry.lock
  pyproject.toml
  tests/test_pipen.py
Due: versionchecker, pytest, flake8

🐛 Fix `nexts` being inherited for `Proc` subclasses
  pipen/proc.py
  tests/test_pipen.py
Due: pytest, flake8

✅ Add tests for nexts being cleared when subclassing Proc
  tests/test_pipen.py
Due: none

🔖 0.3.5
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

✅ Fix tests
  tests/test_proc.py
Due: none

0.3.5 (#133)
  docs/CHANGELOG.md
  pipen/proc.py
  pipen/version.py
  pyproject.toml
  tests/test_pipen.py
  tests/test_proc.py
Due: versionchecker, pytest, flake8

⬆️ Upgrade pipda to 0.7.1, varname to 0.9.1, datar to 0.9
  pipen/pipen.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

🔖 0.3.6
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

👷 Try adding python3.10 back to CI
  .github/workflows/build.yml
Due: none

0.3.6 (#134)
  .github/workflows/build.yml
  docs/CHANGELOG.md
  pipen/pipen.py
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

⬆️ Pump varname to 0.10
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.3.7
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.3.7 (#135)
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

⬆️ Pump pipda to 0.10, datar to 0.10
  pipen/pluginmgr.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

🔖 0.3.8
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.3.8 (#136)
  docs/CHANGELOG.md
  pipen/pluginmgr.py
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

⬆️ Bump pipda to 0.11
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.3.9
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

Path conditions:
  versionchecker: any of: ^pyproject\.toml|pipen/version\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  pytest: any of: ^tests/.+$|^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  flake8: any of: ^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
