Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver pipen/version.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

flake8:
  name: Run flake8
  entry: flake8
  language: system
  args:
  - pipen
  pass_filenames: false

0.17.7
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: add container scheduler support for Docker/Podman/Apptainer
  .gitignore
  docs/scheduler.md
  examples/container.py
  pipen/scheduler.py
  poetry.lock
  pyproject.toml
  tests/test_scheduler.py
Due: versionchecker, pytest, flake8

0.17.8
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: add pipeline and proc names to labels for GbatchScheduler
  pipen/scheduler.py
Due: pytest, flake8

chore(deps): bump xqute to 0.10.1
  poetry.lock
Due: none

chore: standardize log message for workdir
  pipen/proc.py
Due: pytest, flake8

0.17.9
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: lowercase labels in GbatchScheduler
  pipen/scheduler.py
Due: pytest, flake8

0.17.10
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: mapping the pipeline workdir for gbatch scheduler instead of process workdir to enable communications between processes
  pipen/scheduler.py
Due: pytest, flake8

chore: fix no argument ignore errors for path.rmtree
  pipen/_job_caching.py
Due: pytest, flake8

tests: update gbatch scheduler volume paths
  tests/test_scheduler.py
Due: none

chore(deps): bump xqute to 0.10.3
  poetry.lock
Due: none

chore: update .gitignore to include git bundle files
  .gitignore
Due: none

0.17.11
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore(deps): bump xqute to 0.10.4
  pipen/pluginmgr.py
  poetry.lock
Due: pytest, flake8

0.17.12
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: update on_job_polling signature to include counter parameter
  pipen/pluginmgr.py
Due: pytest, flake8

fix: update on_job_polling signature to include counter parameter
  examples/plugin-example.py
  tests/helpers.py
Due: none

0.17.13
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: fix scheduler_opts of processes not full inheriting from pipeline
  pipen/proc.py
  pipen/utils.py
  tests/test_utils.py
Due: pytest, flake8

style: fix styles in example scripts
  examples/example.py
  examples/input_data_callback.py
Due: none

0.17.14
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

chore(deps): update xqute dependency version to 0.10.6 in pyproject.toml
  poetry.lock
  pyproject.toml
Due: versionchecker

feat: adopt xqute 0.10.6
  docs/scheduler.md
  pipen/scheduler.py
  tests/test_scheduler.py
Due: pytest, flake8

0.17.15
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: handle potential error when reading stderr file
  pipen/pluginmgr.py
Due: pytest, flake8

chore: update xqute version to 0.10.7
  pipen/scheduler.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

0.17.16
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: enhance argument parsing in CLI
  docs/cli.md
  pipen/cli/_hooks.py
  pipen/cli/_main.py
  tests/test_cli.py
Due: pytest, flake8

chore: update package versions
  poetry.lock
Due: none

0.17.17
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: update xqute version to 0.10.10
  poetry.lock
Due: none

feat: add environment variables to job submission
  pipen/proc.py
Due: pytest, flake8

0.17.18
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: update xqute version to 0.10.11
  pipen/scheduler.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

Path conditions:
  versionchecker: any of: ^pyproject\.toml|pipen/version\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  pytest: any of: ^tests/.+$|^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  flake8: any of: ^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
