Repository pwwang/pipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: versionchecker, pytest, flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver pipen/version.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

flake8:
  name: Run flake8
  entry: flake8
  language: system
  args:
  - pipen
  pass_filenames: false

fix: only create mounted output directory when no MOUNTED_OUTDIR with scheduler
  pipen/job.py
Due: pytest, flake8

fix: update mountPath index for taskSpec volumes in GbatchScheduler
  pipen/scheduler.py
Due: pytest, flake8

0.16.0a7
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

feat: support fast_mount to be a list for gbatch scheduler
  pipen/scheduler.py
  tests/test_scheduler.py
Due: pytest, flake8

0.16.0a8
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

0.16.0
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: handle None input case in job caching logic
  pipen/_job_caching.py
  tests/test_job.py
Due: pytest, flake8

chore(deps): update liquidpy to 0.8.4
  poetry.lock
Due: none

refactor: replace DualPath with SpecPath in codebase to adopt xqute 0.9
  pipen/_job_caching.py
  pipen/job.py
  pipen/scheduler.py
  pipen/utils.py
  poetry.lock
  pyproject.toml
  tests/test_job.py
  tests/test_scheduler.py
Due: versionchecker, pytest, flake8

0.17.0a1
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore(deps): update xqute version to 0.9.0
  poetry.lock
  pyproject.toml
Due: versionchecker

0.17.0
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

docs: update templating documentation to clarify job metadata paths
  docs/templating.md
Due: none

fix: ensure iterables other than list/tuple are treated correctly as files/dirs
  pipen/job.py
  tests/test_job.py
Due: pytest, flake8

0.17.1
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: handle exceptions (KeyboardInterrupt) when closing counters in progress bar (enlighten v1.14)
  pipen/progressbar.py
Due: pytest, flake8

0.17.2
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: hide job index prefix in log messages for single-job processes
  pipen/job.py
Due: pytest, flake8

chore(deps): update flake8 and other dependencies in pyproject.toml
  poetry.lock
  pyproject.toml
Due: versionchecker

docs: fix outfile in the caching example
  examples/caching.py
Due: none

docs: add example in README as an example pipeline in the examples folder
  README.md
  examples/example.py
  pipen/_job_caching.py
Due: pytest, flake8

chore(deps): bump rich to v14
  poetry.lock
Due: none

0.17.3
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore: add ipykernel dependency for example pipelines
  .gitignore
  poetry.lock
  pyproject.toml
Due: versionchecker

chore(deps): bump datar to 0.15.9 (numpy v2)
  poetry.lock
Due: none

fix: prevent adding processes to starts if already included
  pipen/procgroup.py
Due: pytest, flake8

0.17.4
  docs/CHANGELOG.md
  pipen/version.py
  poetry.lock
  pyproject.toml
Due: versionchecker, pytest, flake8

fix: update mounted directory paths for GbatchScheduler
  pipen/scheduler.py
  tests/test_scheduler.py
Due: pytest, flake8

chore: bump xqute to 0.9.2
  poetry.lock
  pyproject.toml
Due: versionchecker

feat: add fast_container for GbatchScheduler
  pipen/scheduler.py
  poetry.lock
  pyproject.toml
  tests/test_scheduler.py
Due: versionchecker, pytest, flake8

0.17.5
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

style: update type hints
  pipen/job.py
  pipen/pipen.py
  pipen/proc.py
  pipen/scheduler.py
  pipen/utils.py
  tox.ini
Due: pytest, flake8

0.17.6
  docs/CHANGELOG.md
  pipen/version.py
  pyproject.toml
Due: versionchecker, pytest, flake8

chore(deps): bump up xqute to 0.9.4
  poetry.lock
Due: none

fix: optimize path_is_symlink function to check fake symlink faster
  pipen/utils.py
Due: pytest, flake8

Path conditions:
  versionchecker: any of: ^pyproject\.toml|pipen/version\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  pytest: any of: ^tests/.+$|^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
  flake8: any of: ^pipen/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/|^docs/
